* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   font-size: 62.5%;
}

a {
   text-decoration: none;
   color: white;
}
body {
   font-family: "Poppins", sans-serif;
}
li,
button,
p,
a {
   font-size: 1.5rem;
}
h1 {
   font-size: 3.5rem;
}
h2 {
   font-size: 3rem;
}

button {
   border: none;
   background-color: #131c27;
   padding: 1.5rem 3.5rem;
   color: white;
   margin: 2rem;
}
button:hover {
   transition: background 1s ease-in-out;
   background-color: #27394e;
}

/* end global css */
.main-header {
   background: #131c27;
   color: white;
}
#logo {
   flex: 1 40rem;
   font-family: "Pattaya", sans-serif;
   font-weight: 500;
}
nav {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 10vh;
   width: 90%;
   margin: auto;
   flex-wrap: wrap;
}
nav ul {
   display: flex;
   flex: 1 1 40rem;
   justify-content: right;
   align-items: center;
   list-style: none;
   font-size: 1.5rem;
}
nav ul li {
   margin: 0rem 2rem;
}

/* end nav section */
.map-section {
   min-height: 90vh;
   display: flex;
   flex-direction: column;
}
.map-header {
   background-color: #27394e;
   color: white;
   padding: 2rem;
   text-align: center;
   font-weight: 500;
   font-size: 2rem;
}
svg {
   height: 78vh;
   width: 90%;
   margin: auto;
}
/* end homepage */
/* start footer */
footer {
   background-color: #131c27;
   color: white;
}
footer .container {
   width: 90%;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
footer h4 {
   flex: 1 1 40rem;
   font-family: "Pattaya", sans-serif;
   font-weight: 500;
   font-size: 2rem;
}

footer ul {
   display: flex;
   flex: 1 1 40rem;
   justify-content: right;
   list-style-type: none;
}
footer ul li {
   margin: 1rem 2rem;
}
/* end footer section */
/* start contact section */
.contact-section {
   min-height: 90vh;
   background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
      url("./img/contact-mountain.png");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.form-wrapper {
   background-color: rgb(19, 28, 39, 0.8);
   width: 50%;
   color: white;
   border-radius: 20px;
}
.form-head {
   align-items: center;
   padding-top: 3rem;
}
.form-wrapper label {
   margin: 0rem 3rem;
}
.name-field,
.email-field,
.subject-field,
.message-field {
   align-items: center;
   padding: 2rem;
}
.form-wrapper input {
   padding: 1rem 3rem;
   border-radius: 5px;
}
.form-wrapper textarea {
   padding: 1rem 3rem;
   resize: none;
   border-radius: 5px;
   height: 90px;
}
.form-wrapper button {
   background-color: #27394e;
   width: 50%;
}
.form-wrapper button:hover {
   background-color: #7f8c8d;
   color: white;
}

/* end contact section */

/* start about section */

.about-section {
   min-height: 90vh;
   /* background-color: #27394 */
}

.about-head {
   background-color: #27394e;
   color: white;
}
.head-wrapper {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   width: 90%;
   margin: auto;
}
.about-head h2 {
   flex: 1 1 40rem;
}
.about-head .nav {
   flex: 1 1 40rem;
   display: flex;
   justify-content: right;
}
.about-body {
   width: 90%;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.about-body h4 {
   padding: 3rem;
   font-size: 2rem;
}

.cards {
   width: 90%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 3rem;
   flex-wrap: wrap;
}
.card {
   text-align: center;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
      0px 20px 20px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
   flex: 1 1 20rem;
   min-height: 40vh;
   margin: 2rem 5rem;
}
.cards img {
   max-width: 15%;
   color: wheat;
}
.card .card-icon {
   padding: 2rem;
   background-color: #131c27;
   color: white;
   width: 100%;
}
.card .card-body {
   padding: 3rem;
}
.card .card-body h4 {
   font-size: 1.5rem;
   padding: 2rem;
}
@media screen and (max-width: 800px) {
   html {
      font-size: 50%;
   }
   #logo {
      text-align: center;
      padding: 2rem;
   }
   nav {
      min-height: 10vh;
   }
   nav ul li {
      margin: 0rem 1rem;
   }
   nav ul {
      justify-content: center;
      padding: 2rem 0rem;
   }
   footer h4 {
      text-align: center;
      padding: 2rem;
      font-size: 3rem;
   }
   footer ul {
      justify-content: center;
      align-items: center;
   }
   .form-wrapper {
      width: 90%;
   }
   .about-head h2 {
      text-align: center;
      padding: 2rem;
   }
   .about-head .nav {
      justify-content: center;
      padding-bottom: 2rem;
   }
   .about-section .cards {
      padding: 0rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
   }
}
